nav {
  text-align: center;
}

body {
  background-image: url(http://static2.wallpedes.com/wallpaper/best/best-friends-forever-hd-wallpaper-with-quotes-best-friend-wallpapers-hd-wallpaper-site-for-mobile-android-download-facebook-2012-app-in-the-world.jpg);
  background-size: cover;
}

ul {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0 0 15px 15px;

  li {
    display: inline-block;
    margin: 0 20px;

    a {
      color: black;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

.header {
  text-align: center;
  h1 {
    font-family: 'Courgette', cursive;
    font-size: 40px;
    color: white;
  }
}

.subheader {
  text-align: center;
  h1 {
    font-family: 'Courgette', cursive;
    font-size: 25px;
    color: white;
  }
}

.profile-wrap {

  text-align: center;
  margin-top: 30px;

  .profile {
    text-align: center;
    background: #ddeeff;
    display: inline-block;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #aa88ff;
    -webkit-box-shadow: -5px 6px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 12px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 12px -4px rgba(0,0,0,0.75);
  }
}

.potfriend .profile-wrap .profile {
  margin: 10px 20px;
  float: left;
  padding: 15px;

  button {
    margin-top: 10px;
    display: block;
  }

  p {
    font-size: 16px;
    font-family: 'Courgette', cursive;
    color: #331199;
  }

  img {
    height: 70px;
    width: 70px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;  vertical-align: top;

    -webkit-box-shadow: -5px 6px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 12px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 12px -4px rgba(0,0,0,0.75); 
  }

  img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

form {
  form-label {
    font-family: 'Courgette', cursive;
    color: white;
  }
}
