h1 Old Friends You Already Friended

.potfriend(ng-repeat="friend in flCtrl.data | objToArr | orderBy:'name' | filter:query")
  p {{friend.name}}
  a(href="#/friendprofile/{{friend.id}}")
     img(ng-src="{{friend.photo}}")
  button(ng-click="flCtrl.deleteFriend(friend.id)" value="Unfriend") Unfriend

