h1 Old Friends You Already Friended

.potfriend(ng-repeat="friend in flCtrl.data | objToArr | orderBy:'name' | filter:query")
  p {{friend.name}}
  img(ng-src="{{friend.photo}}")
  button.btn.btn-primary(ng-click="pfctrl.addFriend(friend._id)") Add Friend
