form(name="Login Form")
  form-label Email
  input(type="text" placeholder="Email" ng-model="logger.email")
  form-label Password
  input(type="password" placeholder="Password" ng-model="logger.password")
  button(ng-click="logger.login()") Login
  button(ng-click="logger.register()") New User?

