form(name="newUserForm")
     form-label Name
     input(type="text")
     form-label Photo
     input(type="text")
     form-label Age
     input(type="number")
     button(ng-click="profedit.editProfile()") Submit

