form(name="newUserForm")
  .form-group
     form-label Name
     input.form-control(type="text" ng-model="profedit.info.name" required)
  .form-group
     form-label Photo
     input.form-control(type="text" ng-model="profedit.info.photo" required)
  .form-group
     form-label Age
     input.form-control(type="number" ng-model="profedit.info.age" required)
  .form-group
     button.btn.btn-primary(ng-click="profedit.editProfile()") Submit

